{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2>Welcome, {{ request.user.first_name }}!</h2>
    <p>You are logged in as a buyer.</p>

    <hr>

    <h4>Available Products:</h4>
    <div class="row">
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="{{ product.images.url }}" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.product_name }}</h5>

                    <p class="card-text">Category: {{ product.category.category_name }}</p>
                    <p class="card-text">Price: ₹{{ product.price }}</p>
                    <a href="{% url 'add_cart' product.id %}" class="btn btn-primary btn-block">Add to Cart</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No products available.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
